{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Greatness Marshal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="I’m Greatness Marshal A Full stack Web and Software Developer, available for hire">
    <meta name="keywords" content="Greatness Marshal, GREAMHOUSE, greamhouseinc, greamhouse, gream, GREAM, Marshal, Nigeria, Portfolio, Website, Hire me, Web development, Mobile Development, Data science, Idea, Creative Development">
    <meta name="author" content="Greatness Marshal">

    <link rel="stylesheet" href="{% static 'css/vendor/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/jquery.fancybox.min.css' %}">
    

    <!-- Theme Style -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

  </head>
  <body data-spy="scroll" data-target=".site-nav-target" data-offset="200">

    <nav class="unslate_co--site-mobile-menu">
      <div class="close-wrap d-flex">
        <a href="#" class="d-flex ml-auto js-menu-toggle">
          <span class="close-label">Close</span>
          <div class="close-times">
            <span class="bar1"></span>
            <span class="bar2"></span>
          </div>
        </a>
      </div>
      <div class="site-mobile-inner"></div>
    </nav>


    <div class="unslate_co--site-wrap">

      <div class="unslate_co--site-inner">

        <div class="lines-wrap">
          <div class="lines-inner">
            <div class="lines"></div>
          </div>
        </div>
        <!-- END line -->
        <nav class="unslate_co--site-nav site-nav-target">

        <div class="container">
        
          <div class="row align-items-center justify-content-between text-left">

            <div class="col-3">
              <div class="site-logo">
                <a href="index-right-menu.html" class="unslate_co--site-logo">GREAM<span>HOUSE</span></a>
              </div>
            </div>
            <div class="col text-right">
              <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#portfolio-section" class="nav-link">Portfolio</a></li>
                <li><a href="#about-section" class="nav-link">About</a></li>
                <li><a href="#services-section" class="nav-link">Services</a></li>
                <li><a href="#skills-section" class="nav-link">Skills</a></li>
                <li><a href="#testimonial-section" class="nav-link">Testimonial</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>

              <ul class="site-nav-ul-none-onepage text-right d-inline-block d-lg-none">
                <li><a href="#" class="js-menu-toggle">Menu</a></li>
              </ul>
            </div>
            
          </div>
        </div>

      </nav>
      <!-- END nav -->

      <div class="cover-v1 jarallax overlay" style="background-image: url('static/images/cover_bg_1.jpg');" id="home-section">
        <div class="container">
          <div class="row align-items-center">
              
            <div class="col-md-7 mx-auto text-center">
              <h1 class="heading gsap-reveal-hero text-white">GREAM</h1>
              <h2 class="subheading gsap-reveal-hero text-white">I’m Greatness Marshal A Full stack Web and Software Developer, available for hire</h2>
            </div>

          </div>
        </div>


        <!-- dov -->
        <a href="#portfolio-section" class="mouse-wrap smoothscroll">
          <span class="mouse">
            <span class="scroll"></span>
          </span>
          <span class="mouse-label">Scroll</span>
        </a>

      </div>
      <!-- END .cover-v1 -->



      <div class="unslate_co--section" id="portfolio-section">
        <div class="container">
          
          
          <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio dark"></div></div> </div>
          <div id="portfolio-single-holder"></div>

          <div class="portfolio-wrapper">

            <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
              <h2 class="mr-auto heading-h2">Portfolio</h2>
              
              <a href="#" class="text-black js-filter d-inline-block d-lg-none">Filter</a>
              
              <div class="filter-wrap">
                <div class="filter ml-auto" id="filters">
                  <a href="#" class="active" data-filter="*">All</a>
                  <a href="#" data-filter=".web">Web</a>
                  <a href="#" data-filter=".branding">Software</a>
                </div>
              </div>

            </div>


            
            <div id="posts" class="row gutter-isotope-item">
              <div class="item branding packaging illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="{% static 'images/work_1_md.png' %}" class="portfolio-item ajax-load-page item-portrait isotope-item gsap-reveal-img" data-id="1">
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>Shoe Rebranding</h3>
                        <p>web, branding</p>
                      </div>
                    </div>
                    <img src="{% static 'images/work_1_md.png' %}" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>
              <div class="item branding packaging illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2 ">
                <a href="{% static 'images/work_2_md.jpg' %}" class="portfolio-item ajax-load-page item-portrait isotope-item gsap-reveal-img" data-id="3">
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>Reworking</h3>
                        <p>branding, packaging, illustration</p>
                      </div>
                    </div>
                    <img src="{% static 'images/work_2_md.jpg' %}" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="{% static 'images/web1.jpg' %}" class="portfolio-item isotope-item ajax-load-page gsap-reveal-img" data-id="4">
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>Modern Building</h3>
                        <p>branding, packaging</p>
                      </div>
                    </div>
                    <img src="{% static 'images/web1.jpg' %}" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item web packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">

                <a href="{% static 'images/work_4_full.jpg' %}" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Watch">
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Watch</h3>
                        <p>web, packaging</p>
                      </div>
                    </div>
                    <img src="{% static 'images/web2.png' %}" class="lazyload  img-fluid" alt="Images" />
                  </a>

              </div>

              <div class="item illustration packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="{% static 'images/work_5_md.jpg' %}" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Shoe Rebranding">
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Shoe Rebranding</h3>
                        <p>illustration, packaging</p>
                      </div>
                    </div>
                    <img src="{% static 'images/web4.jpg' %}" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="{% static 'images/work_3_md.jpg' %}" class="portfolio-item ajax-load-page item-portrait isotope-item gsap-reveal-img" data-id="2">
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>Reshape</h3>
                        <p>web, branding</p>
                      </div>
                    </div>
                    <img src="{% static 'images/work_6_md.jpg' %}" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="{% static 'images/work_7_a_md.jpg' %}" class="portfolio-item item-portrait isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Modern Building">
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Modern Building</h3>
                        <p>branding, packaging</p>
                      </div>
                    </div>
                    <img src="{% static 'images/work_3_md.jpg' %}" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="{% static 'images/work_3_md.jpg' %}" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                    <div class="overlay">
                      <span class="wrap-icon icon-play_circle_filled"></span>
                      <div class="portfolio-item-content">
                        <h3>Showreel 2019</h3>
                        <p>web, branding</p>
                      </div>
                    </div>
                    <img src="{% static 'images/work_8_md.jpg' %}" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item web illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="{% static 'images/work_9_a_md.jpg' %}" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Render Packaging">
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Render Packaging</h3>
                        <p>web, illustration</p>
                      </div>
                    </div>
                    <img src="{% static 'images/work_9_a_md.jpg' %}" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

            </div>
            
          </div>


        </div>
      </div>



      <div class="unslate_co--section">
        <div class="container">
          <div class="owl-carousel logo-slider">
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-google.png' %}" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-puma.png' %}" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-paypal.png' %}" alt="Image" class="img-fluid">
            </div>
             <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-html.png' %}" alt="Image" class="img-fluid">
            </div>
             <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-css.png' %}" alt="Image" class="img-fluid">
            </div>
             <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-js.png' %}" alt="Image" class="img-fluid">
            </div>
             <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-linux.png' %}" alt="Image" class="img-fluid">
            </div>
             <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-linkedin.png' %}" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-adobe.png' %}" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>


      <div class="unslate_co--section" id="about-section">
        <div class="container">
          
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">About Me</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>
          

          <div class="row mt-5 justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0" data-aos="fade-up">
              <figure class="dotted-bg gsap-reveal-img">
                <img src="{% static 'images/about_me_pic.jpg' %}" alt="Image" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-4 pr-lg-5">
              <h3 class="mb-4 heading-h3"><span class="gsap-reveal">Greatness Marshal</span></h3>
              <p class="lead gsap-reveal">An enthusiastic "Web Developer" with a passion for "Web and software development" interestes in making a difference. </p>
              <p class="mb-4 gsap-reveal">Currently seeking a challenging and rewarding role that will reflect my skills and interests in the fields of web development and Software development at large. </p>
              <p class="gsap-reveal"><a href="#" class="btn btn-outline-pill btn-custom-light">Download my CV</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="unslate_co--section" id="services-section">
        <div class="container">

          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider">My Services</h2>
            <img src="{% static 'images/divider.png' %}" alt="divider" width="76">
          </div>

          <div class="row gutter-v3">
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/001-options.svg' %}" alt="Image" width="45">
                </div>
                <h3>Web <br> Development</h3>
                <p>I'm a full stack developer with 6 years experience as a web developer, i build with diffrent tecnologies like; Django, Vue, HTML5, CSS3, Flask, Scss, Nextjs, Tailwind, etc. </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/002-chat.svg' %}" alt="Icon" width="45">
                </div>
                <h3>Digital <br> Marketing</h3>
                <p>I would expose your business to the world, by building your online precence and publicizing your brand to meetup with international standards. </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/005-line-chart.svg' %}" alt="Image" class="img-fluid" width="45">
                </div>
                <h3>User <br> Experience</h3>
                <p>Developmen is one thing and user experience is another. I don't just develop and deploy, i run series of beta test's prior to the lunch, in other to get clients feedbacks. </p>
              </div> 
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/004-percentage.svg' %}" alt="Image" width="45">
                </div>
                <h3>SAAS <br> Development</h3>
                <p>delivering applications over the Internet as a service. Instead of installing and maintaining software, you simply access it via the Internet, freeing yourself from complex software and hardware management. </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/006-goal.svg' %}" alt="Image" width="45">
                </div>
                <h3>WordPress <br> Solutions</h3>
                <p>You need a responsive wordpress site? I've got you covered from a nicely attractive personal blog to a companies site. </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/003-contact-book.svg' %}" alt="Image" width="45">
                </div>
                <h3>Mobile <br> Applications</h3>
                <p>I build Wonderful mobile apps with the flutter-Dart and Kivy-Python framework, and most times with PHP, Django or Firebase at it's backend. </p>
              </div> 
            </div>

          </div>

        </div>
      </div>

      <div class="unslate_co--section section-counter" id="skills-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Skills</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>


          <div class="row pt-5">
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="120">0</span>
                  <span class="append-text">+</span>
                </span>
                <span class="counter-label">Projects</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="99">0</span>
                  <span class="append-text">+</span>
                </span>
                <span class="counter-label">Happy Clients</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="20">0</span>
                  <span class="append-text">+</span>
                </span>
                <span class="counter-label">Soft Skills</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="84">0</span>
                  <span class="append-text">hr</span>
                </span>
                <span class="counter-label">Hours Of Support/week</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END .counter -->

      <div class="unslate_co--section" id="testimonial-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Happy Clients</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>
        </div>

        <div class="owl-carousel testimonial-slider">
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </blockquote>
              </div>
              
              <div class="testimonial-author-info">
                <img src="{% static 'images/person_man_1.jpg' %}" alt="Image">
                <h3>Eric Ingram</h3>
                <span class="d-block position">Product Designer @facebook</span>
              </div>

            </div>
          </div>
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </blockquote>
              </div>
              
              <div class="testimonial-author-info">
                <img src="{% static 'images/person_man_1.jpg' %}" alt="Image">
                <h3>Ryan Mullins</h3>
                <span class="d-block position">Product Designer @Shopify</span>
              </div>

            </div>
          </div>
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </blockquote>
              </div>
              
              <div class="testimonial-author-info">
                <img src="{% static 'images/person_man_1.jpg' %}" alt="Image">
                <h3>Erica Miller</h3>
                <span class="d-block position">Product Designer @Twitter</span>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- END testimonial -->

      <div class="unslate_co--section" id="contact-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Get In Touch</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>


          <div class="row justify-content-between">
            
            <div class="col-md-6">
              <form method="post" action="forms/contact.php" class="form-outline-style-v1" id="contactForm">
                <div class="form-group row mb-0">

                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name">
                  </div>
                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" id="email">
                  </div>
                  <div class="col-lg-12 form-group gsap-reveal">
                    <label for="message">Write your message...</label>
                    <textarea name="message" id="message" cols="30" rows="7" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group row gsap-reveal">
                    <div class="col-md-12 d-flex align-items-center">
                      <input type="submit" class="btn btn-outline-pill btn-custom-light mr-3" value="Send Message">
                      <span class="submitting"></span>
                    </div>
                  </div>
              </form>
              <div id="form-message-warning" class="mt-4"></div> 
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>

            </div>

            <div class="col-md-4">
              <div class="contact-info-v1">
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Email</span>
                  <a href="#" class="contact-info-val">info@greamhouseinc.com.ng<br>gmarshal070@gmail.com</a>
                </div>
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Phone</span>
                  <a href="#" class="contact-info-val">+234 810 080 8038</a>
                </div>
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Address</span>
                  <address class="contact-info-val">Behind Custom collage<br>one Nigeria street phase III. <br> Gwagwalada-Abuja, NG 902101</address>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div> 

      <footer class="unslate_co--footer unslate_co--section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7">
              
              <div class="footer-site-logo"><a href="#">GREAM<span>HOUSE</span></a></div>

              <ul class="footer-site-social">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Github</a></li>
                <li><a href="#">Stack Overflow</a></li>
                <li><a href="#">Reddit</a></li>
              </ul>

              <p class="site-copyright">
                <small>&copy; 2021 <a href="#">GREAM  </a>. All Rights Reserved. Design with <span class="icon-heart text-danger"></span> by <a href="#">GREAMHOUSE.inc</a>.</small>
              </p>

            </div>
          </div>
        </div>
      </footer>

      
    </div>

    <!-- Loader -->
    <div id="unslate_co--overlayer"></div>
    <div class="site-loader-wrap">
      <div class="site-loader dark"></div>
    </div>

    <script src="{% static 'js/scripts-dist.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157808202-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157808202-1');
</script>

  </body>
</html>